<%- include("header"); -%>
  <div class="box" id="heading">
    <h1><%= date %> </h1>
  </div>
  <div class="box">
      <% for (var i = 0; i<itemLists.length; i++){%>
        <div class="item">
          <input type="checkbox" name="">
          <p><%= itemLists[i] %> </p>
        </div>
      <% }%>
      <form action="/" method="post" class="item">
        <input type="text" name="newList" placeholder="New Item">
        <button type="submit">+</button>
      </form>
  </div>
 <%- include("footer"); %> 